.jumbotron{
	background-color:#ABBFB9;
	color: #7D2F14;
	margin-top: 50px;
	
}

.jumbotron-image{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #F3D65E;
	margin-bottom: 8px;
	margin-top:10px;

}

.card-producto{
	flex: 1 250px;
	margin-top: 10px;	
}

.btn-reserva{
	width: 100%;	
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 5px;
}

.tab-content{
	padding-top: 10px;
}