@green:#699676;
@red:#FC3611;
@yellow:#F0FC11;
@imagen: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);
.margenes(@top, @bottom){
	margin-top: @top;
	margin-bottom: @bottom;
}
.color-texto(@color){
	color:@color;
}
.paddings(@top, @right,@bottom, @left){
	padding: @top @right @bottom @left;
}

.jumbotron{
	background-image: @imagen;
	background-color:@green;
	color: #7D2F14;
	.margenes(50px, 2rem);
	.color-texto(#EDD544);
}

.jumbotron-image{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer{
	.paddings(10px, 10px, 0, 10px);
	background-color: @yellow;
	.margenes(10px, 8px);
}



.card-producto{
	flex: 1 250px;
	.margenes(10px, 0px);	
}

.btn-reserva{
	width: 100%;	
	border-radius: 0px;
}

.footer-address-icon{
	.paddings(0, 5px, 0, 0);
}

.tab-content{
	.paddings(10px, 0, 0, 0);
}