$green:#000000;
$red:#FC3611;
$yellow:#F0FC11;
$imagen: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);
@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin color-texto($color){
	color:$color;
}
@mixin paddings($top, $right,$bottom, $left){
	padding: $top $right $bottom $left;
}

.jumbotron{
	background-image: $imagen;
	background-color:$green;
	color: #7D2F14;
	@include margenes(50px, 2rem);
	@include color-texto(#EDD544);
}

.jumbotron-image{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer{
	@include paddings(10px, 10px, 0, 10px);
	background-color: $yellow;
	@include margenes(10px, 8px);
}



.card-producto{
	flex: 1 250px;
	@include margenes(10px, 0px);	
}

.btn-reserva{
	width: 100%;	
	border-radius: 0px;
}

.footer-address-icon{
	@include paddings(0, 5px, 0, 0);
}

.tab-content{
	@include paddings(10px, 0, 0, 0);
}