.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);
  background-color: #699676;
  color: #7D2F14;
  margin-top: 50px;
  margin-bottom: 2rem;
  color: #EDD544;
}
.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #F0FC11;
  margin-top: 10px;
  margin-bottom: 8px;
}
.card-producto {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding: 0 5px 0 0;
}
.tab-content {
  padding: 10px 0 0 0;
}
